body {
    background-color: #ECEEF1;
    min-height: 50%;
}

#signin {
    width: 30%;
    float: right;
    /*border: 1px solid black;*/
    margin-top: 0.5%;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
}

#signin img {
    float: right;
}

#signin .signin_txt {
    /* overflow: hidden;*/
    /*border: 1px solid red;*/
    float: right;
}

#signin a {
    color: #0077C5;
}

#content {
    min-height: calc(100vh - 50px);
}

footer {
    /*margin-top: -50px;*/
    margin-bottom: 4.5%;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: 12px;
    color: #505050;
}